.cart {
  display: grid;
  gap: 20px;
}

.cart .products-cart {
  padding: 20px;
  display: grid;
  gap: 20px;
  background: #fff;
  box-shadow: 0px 10px 83px -52px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
}

.cart .products-cart li {
  display: flex;
  gap: 20px;
}

.cart .products-cart li .product-image {
  height: fit-content;
  width: 180px;
}

.cart .products-cart li .product-image img {
  width: 100%;
  height: 100%;
}

.cart .products-cart li .product-content {
  width: 100%;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  font-family: "Inter";
}

.cart .products-cart li .product-content .content-info .info-name {
  margin-bottom: 20px;
  color: #050c3b;
}

.cart .products-cart li .product-content .content-info p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 0.9rem;
}

.cart .products-cart li .product-content .content-price {
  min-width: fit-content;
  font-size: 1.6rem;
  color: #050c3b;
}

.products-footer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 10px;
  background: #fff;
  color: #050c3b;
  box-shadow: 0px 10px 83px -52px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  font-family: "Inter";
}

.products-footer h3 {
  font-size: 1.9rem;
}

.products-footer button {
  background: #050c3b;
  color: #fff;
  font-family: "Inter";
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  border: 0.2rem solid #050c3b;
  padding: 0.6rem 4.9rem;
  cursor: pointer;
  transition: 0.3s;
}

.products-footer button:hover {
  background: #fff;
  color: #050c3b;
}

@media (max-width: 700px) {
  .cart .products-cart li .product-content .content-info .info-name {
    font-size: 1rem;
  }

  .cart .products-cart li .product-content .content-info p {
    font-size: .7rem;
  }

  .cart .products-cart li .product-content .content-price {
    font-size: 1.2rem;
  }

  .products-footer h3 {
    font-size: 1.5rem;
  }

  .products-footer button {
  padding: 0.4rem 4rem;

  }

  .cart .products-cart li .product-image {
    width: 120px;
  }
}

@media (max-width: 500px) {
  .cart .products-cart li .product-content .content-info .info-name {
    font-size: .8rem;
  }

  .cart .products-cart li .product-content .content-info p {
    font-size: .5rem;
  }

  .cart .products-cart li .product-content .content-price {
    font-size: 1rem;
  }
}